* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    background-color: #18171F;
    color: #fff;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    display: flex;
    justify-content: center;
    color: #817D92;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.password-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #24232C;
    padding-inline: 32px;
    width: 400px;
    height: 90px;
}

.password {
    border: none;
    background: transparent;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.copy-btn {
    border: none;
    background: transparent;
}
.copy-btn:hover{
    color: #fff;
}

.length-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.length {
    color: #A4FFAF;
}

.inputRange {
  appearance: none;
  width: 350px;
  height: 8px;
  border: 1px solid #333333;
  border-radius: 9999px;
  background: linear-gradient(90deg, #a4ffaf 30%, #000000 30%);
  cursor: pointer;
  margin-bottom: 20px;
}

/* Thumb: for Chrome, Safari, Edge */
.inputRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 9999px;
  background: #ffffff;
}

/* Thumb: for Firefox */
.inputRange::-moz-range-thumb {
  border: none;
  width: 24px;
  height: 24px;
  border-radius: 9999px;
  background: #ffffff;
}

.options {
    background-color: #24232C;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px; 
    padding: 24px;
    font-size: 16px;
}

.length-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.radio-field {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    margin-bottom: 10px;
}

.radio-field label {
    color: #fff;
    font-size: 16px;
    order: 3;
}

input[type=checkbox] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    color: currentColor;
    font: inherit;
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid #fff;
}

.checkbox-icon {
    position: absolute;
    transform: translateX(20%);
    display: none;
    order: 1;
}

input[type=checkbox]:checked {
    background-color: #A4FFAF;
    border-color: #A4FFAF;
    order: 2;
}

input[type=checkbox]:not(:checked):hover {
    cursor: pointer;
    border-color: #A4FFAF;
}

input[type=checkbox]:checked + img {
    display: block;
}

.generate-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #A4FFAF;
    border-radius: none;
    border: none;
    padding-block: 10px;
    margin-top: auto;
}

.pwd-strength {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: #18171F;
    border-radius: none;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    
}

.strength-label {
    font-weight: bold;
}

.strength-level {
    margin-left: 10px;
    font-weight: bold;
}

.strength-indicator {
    display: flex;
    margin-left: 20px;
}

.strength-bar {
    width: 10px;
    height: 20px;
    margin-left: 5px;
    background-color: #e0e0e0;
}

.strength-bar.filled {
    background-color: #A4FFAF; 
}

.generate-btn:hover {
    outline: 2px solid #A4FFAF;
    background-color: transparent;
    cursor: pointer;
    color: #A4FFAF;
}

.generate-btn:hover > img {
    fill: #A4FFAF;
}

/*I have used on width * length my measures tries to look like given  figma design but not a requested ones in figma*/