* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  background-color: #18171f;
  color: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  display: flex;
  justify-content: center;
  color: #817d92;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.password-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #24232c;
  padding-inline: 32px;
  width: 400px;
  height: 90px;
}

.password {
  border: none;
  background: transparent;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  outline: none;
}

.copy-btn {
  border: none;
  background: transparent;
}

.copied {
  display: none;
  color: #a4ffaf;
  margin-right: 10px;
  border: none;
}

.copied.show {
  display: inline-block;
}
.length-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.length {
  color: #a4ffaf;
}

.inputRange {
  appearance: none;
  width: 350px;
  height: 8px;
  border: 1px solid #333333;
  border-radius: 9999px;
  background: linear-gradient(90deg, #a4ffaf 30%, #000000 30%);
  cursor: pointer;
  margin-bottom: 20px;
}

/* Thumb: for Chrome, Safari, Edge */
.inputRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 9999px;
  background: #ffffff;
}
.inputRange::-webkit-slider-thumb:hover {
  background-color: #000000;
  border: 1px solid #a4ffaf;
}

/* Thumb: for Firefox */
.inputRange::-moz-range-thumb {
  border: none;
  width: 24px;
  height: 24px;
  border-radius: 9999px;
  background: #ffffff;
}

.inputRange::-moz-range-thumb:hover {
  background-color: #000000;
  border: 1px solid #a4ffaf;
}
.options {
  background-color: #24232c;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 300px;
  padding: 24px;
  font-size: 16px;
}

.length-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.radio-field {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  margin-bottom: 10px;
}

.radio-field label {
  color: #fff;
  font-size: 16px;
  order: 3;
}
.radio-field label:hover {
  cursor: pointer;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  color: currentColor;
  font: inherit;
  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid #fff;
}

.checkbox-icon {
  position: absolute;
  transform: translateX(20%);
  display: none;
  order: 1;
}

input[type="checkbox"]:checked {
  background-color: #a4ffaf;
  border-color: #a4ffaf;
  order: 2;
}

input[type="checkbox"]:not(:checked):hover {
  cursor: pointer;
  border-color: #a4ffaf;
}

input[type="checkbox"]:checked + img {
  display: block;
}

.pwd-strength {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: #18171f;
  border-radius: none;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
}

.strength-level {
  margin-right: 20px;
  font-weight: bold;
}

.strength-indicator {
  display: flex;
  margin-left: 20px;
}

.strength-bar {
  width: 10px;
  height: 20px;
  margin-left: 5px;
  background-color: #e0e0e0;
}
.strength-bar .default-strong {
  background-color: #f8cd65;
}

.strength-bar.filled {
  background-color: #a4ffaf;
}
.generate-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #a4ffaf;
  border-radius: none;
  border: none;
  padding-block: 10px;
  margin-top: auto;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.generate-btn:hover {
  outline: 2px solid #a4ffaf;
  background-color: transparent;
  cursor: pointer;
  color: #a4ffaf;
}

.generate-btn:hover svg path {
  fill: #a4ffaf;
}

.generate-btn svg {
  transition: transform 0.3s ease;
}

.generate-btn:hover svg {
  transform: translateX(4px)
}

/*I have used on width * length my measures tries to look like given figma design but not a requested ones in figma*/
